<div class="jumbotron">
    <h1> Veritas House Project</h1>
    <p> An easy, ubiquitious way to manage your clients and matters</p>
    <%= link_to 'Sign up', "#", class: ' btn btn-primary btn-lg' %>
</div>
